<!DOCTYPE html>
<html lang="{{ current_locale }}">
  {% extends "layout.html" %} {% block content %}
  <div class="row">
    <div class="col-md-7">
      <div class="content-section">
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ _('Log In') }}</legend>

            <div class="form-group">
              {{ form.email.label(class="form-control-label") }} {% if
              form.email.errors %} {{ form.email(class="form-control
              form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.email(class="form-control form-control-lg") }}
              {% endif %}
            </div>

            <div class="form-group">
              {{ form.mdp.label(class="form-control-label") }} {% if
              form.mdp.errors %} {{ form.mdp(class="form-control form-control-lg
              is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.mdp.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.mdp(class="form-control form-control-lg") }} {%
              endif %}
            </div>
            <div class="form-check">
              {{ form.remember(class="form-check-input") }} {{
              form.remember.label(class="form-check-label") }}
            </div>

            <div class="form-group">
              {{ form.submit(class="btn btn-outline-info")}}
              <small class="text-muted ml-2">
                <a href="{{ url_for('home') }}"
                  >{{ _('Forgot password ?') }}</a
                >
              </small>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="border-top">
        <small class="text-light font-weight-bold">
          {{ _('Don\'t Have An Account?') }}
          <a
            class="ml-2"
            href="{{ url_for('home') }} "
            style="color: rgb(33, 168, 28)"
            >{{ _('Sign Up Now') }}</a
          >
        </small>
      </div>
    </div>
    <div class="col-md-5">
      <div class="about_img">
        <figure><div id="login-animation"></div></figure>
      </div>
    </div>
  </div>

  {% endblock content %}
</html>
